/*
.navbar{
  min-height:85px; 
}

.navbar-nav > .active{
    padding-top:100px ;
    min-height: 100px;
    
}*/
/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 30px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 40px;
  padding-top: 10px;
  background-color: #222;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}
