<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
    
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>Bet You FAIL</title>

        <!--jQuery from a CDN-->
        <script type="text/javascript" src="//code.jquery.com/jquery-latest.min.js"></script>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!--Bootstrap CSS from a CDN-->
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.css">

        <!--BootstrapJS from a CDN-->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        
        <link rel="stylesheet" href="css/style.css">
                      
        <!--BitcoinJS-->
        <script src="./bitcoinjs.min.js"></script>
        
    </head>

    <body>
        <div class="container">
            <div class="row">
                <div class="col-md-6 center-block" style="float:none;">
                    <p class="lead">
                        We want you to succeed, really, we do.  But let's be honest, it's more fun to antagonize you.  Who knows, maybe that's the motivation you need.
                    </p>
                    <p class="lead mock">I <input type="email" class="wager" id="inputEmail1" placeholder="{{wager.email}}" ng-model="wager.email"> bet <input type="number" class="wager" id="inputAmount" placeholder="{{ wager.amount | currency }}" ng-model="wager.amount" step="0.25" > that I can <select class="wager" ng-model="wager.proposition">
                          <option>Loose Weight</option>
                          <option>Quit Smoking</option>
                          <option>Learn Something New</option>
                          <option>Get Out of Debt</option>
                          <option>Spend More Time with Family</option>
                          <option>Travel</option>
                          <option>Volunteer</option>
                          <option>Other</option>
                        </select></p>
<!--                    <form>
                      <div class="form-group">
                        <label for="inputEmail1">Email address</label>
                        <input type="email" class="form-control" id="inputEmail1" placeholder="{{wager.email}}" ng-model="wager.email">
                      </div>
                      <div class="form-group">
                        <label for="inputAmount">Amount <small>$0.10 minimum/$1000 maximum</small></label>
                        <input type="number" class="form-control" id="inputAmount" placeholder="{{ wager.amount | currency }}" ng-model="wager.amount">
                      </div>
                      <div class="form-group">
                        <label for="inputGoal">Proposition</label>
                        <select class="form-control" ng-model="wager.proposition">
                          <option>Loose Weight</option>
                          <option>Quit Smoking</option>
                          <option>Learn Something New</option>
                          <option>Get Out of Debt</option>
                          <option>Spend More Time with Family</option>
                          <option>Travel</option>
                          <option>Volunteer</option>
                          <option>Other</option>
                        </select>
                      </div>
                             
                      <br />
                      <button id="submit" type="button" class="btn btn-default" ng-click="ChangeView('wager');">Submit</button>
                    </form>-->
                    <button id="submit" type="button" class="btn btn-danger" ng-click="ChangeView('wager');">Continue</button>
                </div>
            </div>
        </div>
    </body>
</html>
